<div class="span9" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <ul class="nav nav-tabs nav-stacked">
    <li> <%= link_to "Artist 1",    careers_path %> </li>
    <li> <%= link_to "Artist 2",    careers_path %> </li>
    <li> <%= link_to "Artist 3",    careers_path %> </li>
    <li> <%= link_to "Artist 4",    careers_path %> </li>
    <li> <%= link_to "Artist 5",    careers_path %> </li>
  </ul>
</div>